body {
  background-color: #eef6ff;
  font-family: Arial, sans-serif;
}

.cdn-box {
  border: 3px solid #0d6efd;
  padding: 20px;
  margin: 50px;
  text-align: center;
}

.cdn-btn {
  background: #0d6efd;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
}

